{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "quotes": [
            "warn",
            "single"
        ],
        "jsx-quotes": [
            "error",
            "prefer-single"
        ],
        "prefer-const": "error",
        "indent": [
            "error",
            4
        ],
        "semi": [
            "warn",
            "always"
        ],
        "react-hooks/exhaustive-deps": "off"
    }
}